<!DOCTYPE html>
<html>

<head>
	<!-- Basic -->
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<!-- Mobile Metas -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
	<!-- Site Metas -->
	<meta name="keywords" content="" />
	<meta name="description" content="" />
	<meta name="author" content="" />
	<title>Cứu Hộ 24/7</title>
	<!-- bootstrap core css -->
	<link href="~/content/css/bootstrap.css" rel="stylesheet" />

	<!-- fonts style -->
	<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

	<!--owl slider stylesheet -->
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

	<!-- font awesome style -->
	<link href="~/content/css/font-awesome.min.css" rel="stylesheet" />
	<!-- Custom styles for this template -->
	<link href="~/content/css/style.css" rel="stylesheet" />
	<!-- responsive style -->
	<link href="~/content/css/responsive.css" rel="stylesheet" />
	<!-- Thêm Toastify CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

	<!-- Thêm Toastify JS -->
	<script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
<link rel="stylesheet" href="content/css/owl.carousel.css"></link>
<link rel="stylesheet" href="content/css/owl.theme.default.css"></link>
</head>


<style>
	.pinphone {
		z-index: 1;
		position: fixed;
		left: 0;
		 top: 50%;
		transform: translateY(-50%);
	}

		.pinphone i:hover {
			font-size: 45px;
			transition: 0.5s;
		}

		.pinphone span:hover {
			font-size: 30px;
			transition: 0.5s;
		}

	.call-button span {
		animation-name: example;
		animation-duration: 1s;
		animation-iteration-count: infinite;
	}
.call-button {
        display: flex !important;
        align-items: center;
        background-color: #ff4500; /* Màu cam đỏ nổi bật */
        color: white;
        padding: 8px 14px;
        border-radius: 25px; /* Bo góc */
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
        transition: all 0.3s ease-in-out;
        margin-top: -12px;
    }

        .call-button i {
            margin-right: 8px;
            font-size: 22px;
        }

        .call-button:hover {
            background-color: #cc0000; /* Đổi màu cam nhạt khi hover */
            box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.3);
            transform: scale(1.05);
        }
	@@keyframes example {
		from

	{
		color: white;
	}

	to {
		color: yellow;
	}

	}


	@@media only screen and (max-width: 440px) {
		.res

	{
		width: 49% !important;
	}

	}
</style>
<body>
	@if (TempData["Message"] != null)
	{
		var message = TempData["Message"].ToString();
		var messageType = TempData["MessageType"]?.ToString();

		<script>
			document.addEventListener("DOMContentLoaded", function () {
				Toastify({
					text: "@Html.Raw(TempData["Message"])",
					duration: 2000,
					close: true,
					gravity: "top",
					position: "right",
					backgroundColor: "@(TempData["MessageType"] != null && TempData["MessageType"].ToString() == "success" ? "linear-gradient(to right, #00b09b, #96c93d)" : "linear-gradient(to right, #ff5f6d, #ffc371)")",
				}).showToast();
			});
		</script>
	}
	<section class="header">
		<div class="container">
			<div class="row">
				<div class="col-md-12 mt-1 s1 md-2">
					<marquee direction="left" height="20" onmouseout="this.start()" scrollamount="3"
							 onmouseover="this.stop()">
						<li style="list-style:none;display:inline-block;">

							<p><strong>Website Cứu hộ 247</strong> kính chào quý khách, chúc quý khách tìm được dịch vụ cứu hộ uy tín và chất lượng! Chúng tôi luôn sẵn sàng phục vụ quý khách 24/7.</p>

						</li>
						<li style="list-style:none;display:inline-block"> </li>
					</marquee>
				</div>
			</div>
		</div>
	</section>

	<div class="hero_area">
		<!-- header section strats -->
		<header class="header_section">
			<div class="header_top">
				<div class="container-fluid header_top_container">
					<div class="contact_nav" style="text-align: center;">
						<a href="">
							<i class="fa fa-phone" aria-hidden="true"></i>
							<span>
								Call : +0961.345.247
							</span>
						</a>
						<a href="">
							<i class="fa fa-envelope" aria-hidden="true"></i>
							<span>
								Email : thainguyen997dn@gmail.com
							</span>
						</a>
						<a href="/User/contact">
							<i class="fa fa-map-marker" aria-hidden="true" ></i>
							<span>
								247 Đồng Nai
							</span>
						</a>
					</div>
					<div class="social_box">
						<a href="https://www.facebook.com/cuuhogiaothong247DongNai?mibextid=LQQJ4d&mibextid=LQQJ4d">
							<i class="fa fa-facebook" aria-hidden="true"></i>
						</a>
						<a href="">
							<i class="fa fa-twitter" aria-hidden="true"></i>
						</a>
						<a href="">
							<i class="fa fa-linkedin" aria-hidden="true"></i>
						</a>
						<a href="">
							<i class="fa fa-instagram" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<div class="header_bottom">
				<div class="container-fluid">
					<nav class="navbar navbar-expand-lg custom_nav-container ">

						<a class="navbar-brand" href="/">
							<img src="~/content/images/logoa.jpg" alt="Logo" style="height: 54px; width: auto;">
						</a>

						<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
							<span class=""> </span>
						</button>
						<div class="collapse navbar-collapse" id="navbarSupportedContent">
							<ul class="navbar-nav  ">
								<li class="nav-item @(Context.Request.Path == "/" ? "active" : "")">
									<a class="nav-link" href="/">TRANG CHỦ</a>
								</li>
								<li class="nav-item @(Context.Request.Path == "/User/service" ? "active" : "")">
									<a class="nav-link" href="/User/service">DỊCH VỤ</a>
								</li>
								<li class="nav-item @(Context.Request.Path == "/User/about" ? "active" : "")">
									<a class="nav-link" href="/User/about">GIỚI THIỆU</a>
								</li>
								<li class="nav-item @(Context.Request.Path == "/User/testimonial" ? "active" : "")">
									<a class="nav-link" href="/User/testimonial">LỜI CHỨNG THỰC</a>
								</li>
								<form class="form-inline">
									<button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
										<i class="fa fa-search" aria-hidden="true"></i>
									</button>
								</form>
							</ul>
							<div class="quote_btn-container">
								<a href="" class="quote_btn">
									NHẬN GIÁ BÁO
								</a>
							</div>
						</div>
					</nav>
				</div>
			</div>
		</header>

		<style>
			.nav-item.active .nav-link {
				background-color: black; /* Màu nền đen */
				color: white; /* Màu chữ trắng */
			}
			.wrap-tieuchi {
    padding-top: 30px;
    overflow: hidden;
}
.wrap-content {
    max-width: 1188px;
    margin: auto;
    width: calc(100% - 20px);
}
.wrap-tieuchi .owl-carousel {
    width: calc(100% + 10px);
    margin: 0 -5px;
}
.wrap-tieuchi .owl-stage {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
}
.item_tc {
    padding: 45px 0 7px 0;
    position: relative;
    margin: 0 5px;
    width: calc(100% - 10px);
}
.item_tc .img {
    position: absolute;
    left: calc(50% - 45px);
    top: 0px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background: var(--color-red);
}
.item_tc .img img {
    transition: 1s;
}
.item_tc .tttc {
    height: calc(100% - 52px);
    box-shadow: 0 0 7px rgb(0 0 0 / 25%);
    background: #fff;
    border-radius: 5px;
    padding: 55px 10px 15px 10px;
}
.item_tc h3 {
    line-height: 1.5;
    text-align: center;
    margin-bottom: 4px;
    font-size: 16px;
    font-family: 'RB';
}
.item_tc .desc {
    text-align: center;
    line-height: 20px;
    min-height: 40px;
    color: #4d4d4d;
}
		</style>

		<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
		<script src="/content/js/SomeeAdsRemover.js"></script>



		<script>
			$(document).ready(function () {
				$('.nav-item a').on('click', function () {
					$('.nav-item').removeClass('active'); // Xóa lớp active khỏi tất cả các mục
					$(this).parent().addClass('active'); // Thêm lớp active vào mục được nhấp
				});
			});
		</script>        <!-- end header section -->
		<!-- slider section -->
		<section class="slider_section ">
			<div id="customCarousel1" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
						<div class="container ">
							<div class="row">
								<div class="col-md-10 mx-auto">
									<div class="detail-box">
										<h1>
											
										</h1>
									
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="carousel-item">
						<div class="container ">
							<div class="row">
								<div class="col-md-10 mx-auto">
									<div class="detail-box">
										<h1>
											
										</h1>
								
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
						<ol class="carousel-indicators" style="margin-left: 25%;">
					<li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
					<li data-target="#customCarousel1" data-slide-to="1"></li>
				</ol>
			</div>

		</section>
		<!-- end slider section -->
	</div>
<!-- Set up your HTML -->
<div class="wrap-tieuchi pad-top" bis_skin_checked="1">
		<div class="wrap-content" bis_skin_checked="1">
			<div class="owl-page owl-carousel owl-theme owl-loaded owl-drag" data-xsm-items="2:0" data-sm-items="2:0" data-md-items="3:0" data-lg-items="4:0" data-xlg-items="4:0" data-rewind="1" data-autoplay="1" data-loop="0" data-lazyload="0" data-mousedrag="1" data-touchdrag="1" data-smartspeed="500" data-autoplayspeed="3500" data-dots="0" bis_skin_checked="1">
							
								<div class="owl-stage-outer" bis_skin_checked="1"><div class="owl-stage" style="transform: translate3d(0px, 0px, 0px); transition: 0.5s; width: 1198px;" bis_skin_checked="1"><div class="owl-item active" style="width: 299.5px;" bis_skin_checked="1"><div class="item_tc" bis_skin_checked="1">
							<a class="img d-block" title="NHANH CHÓNG">
											<img class="d-block w-100" src="/content/images/nhanhchong.png" alt="NHANH CHÓNG">
							</a>
							<div class="tttc" bis_skin_checked="1">
								<h3>
									NHANH CHÓNG								</h3>
								<div class="desc text-splist" bis_skin_checked="1">
									Có mặt tại địa chỉ bạn gửi chỉ sau 10 – 20 phút 								</div>
							</div>
						</div></div><div class="owl-item active" style="width: 299.5px;" bis_skin_checked="1"><div class="item_tc" bis_skin_checked="1">
							<a class="img d-block" title="CHUYÊN NGHIỆP ">
											<img class="d-block w-100" src="/content/images/chuyennghiep.png" alt="CHUYÊN NGHIỆP ">
							</a>
							<div class="tttc" bis_skin_checked="1">
								<h3>
									CHUYÊN NGHIỆP 								</h3>
								<div class="desc text-splist" bis_skin_checked="1">
									Đầy đủ các xe sàn chuyên chở, cẩu kéo cứu hộ								</div>
							</div>
						</div></div><div class="owl-item active" style="width: 299.5px;" bis_skin_checked="1"><div class="item_tc" bis_skin_checked="1">
							<a class="img d-block" title="GIÁ CẢ HỢP LÝ">
											<img class="d-block w-100" src="/content/images/giaca1.png" alt="GIÁ CẢ HỢP LÝ">
							</a>
							<div class="tttc" bis_skin_checked="1">
								<h3>
									GIÁ CẢ HỢP LÝ								</h3>
								<div class="desc text-splist" bis_skin_checked="1">
									Cam kết giá cả hợp lý - cạnh tranh 								</div>
							</div>
						</div></div><div class="owl-item active" style="width: 299.5px;" bis_skin_checked="1"><div class="item_tc" bis_skin_checked="1">
							<a class="img d-block" title="HỖ TRỢ NHIỆT TÌNH">
											<img class="d-block w-100" src="/content/images/hotro.png" alt="HỖ TRỢ NHIỆT TÌNH">
							</a>
							<div class="tttc" bis_skin_checked="1">
								<h3>
									HỖ TRỢ NHIỆT TÌNH								</h3>
								<div class="desc text-splist" bis_skin_checked="1">
									Hotline hỗ trợ 24/7 giải đáp mọi thắc mắc khách hàng								</div>
							</div>
						</div></div></div></div><div class="owl-nav disabled" bis_skin_checked="1"><button type="button" role="presentation" class="owl-prev"></button><button type="button" role="presentation" class="owl-next"></button></div><div class="owl-dots disabled" bis_skin_checked="1"></div></div>
		</div>
	</div>
		<div>
		@RenderBody()
	</div>




	<!-- info section -->
	<section class="info_section ">

		<div class="container">
			<div class="contact_nav">
				<a href="">
					<i class="fa fa-phone" aria-hidden="true"></i>
					<span>
						0961.345.247
					</span>
				</a>
				<a href="">
					<i class="fa fa-envelope" aria-hidden="true"></i>
					<span>
						thainguyen997dn@gmail.com
					</span>
				</a>
				<a href="">
					<i class="fa fa-map-marker" aria-hidden="true"></i>
					<span>
						247 Đồng Nai
					</span>
				</a>
			</div>

			<div class="info_top ">
				<div class="row info_main_row">
					<div class="col-sm-6 col-md-4 col-lg-3">
						<div class="info_links">
							<h4>
								LIÊN KẾT NHANH
							</h4>
							<div class="info_links_menu">
								<a class="" href="/User/Index">TRANG CHỦ<span class="sr-only">(current)</span></a>
								<a class="" href="/User/service">DỊCH VỤ</a>
								<a class="" href="/User/about"> GIỚI THIỆU</a>
								<a class="" href="/User/project">TIN TỨC</a>
								<a class="" href="/User/testimonial">CHỨNG THỰC</a>
								<a class="" href="/User/contact">LIÊN HỆ</a>
							</div>
						</div>
					</div>
					<div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
						<div class="info_post">
							<h5>
								HÌNH ẢNH CỨU HỘ
							</h5>
							<div class="post_box">
								<div class="img-box">
									<img src="~/content/images/cuuho1.jpg" />
								</div>
								<div class="img-box">
									<img src="~/content/images/cuuho2.jpg" />
								</div>
								<div class="img-box">
									<img src="~/content/images/cuuho3.jpg" />
								</div>
								<div class="img-box">
									<img src="~/content/images/cuuho3.jpg" />
								</div>
								<div class="img-box">
									<img src="~/content/images/ch5.jpg" />
								</div>
								<div class="img-box">
									<img src="~/content/images/cuuho10.jpg" />
								</div>
							</div>
						</div>
					</div>
					<div class="col-md-4">
						<div class="info_form">
							<h4>
								ĐĂNG KÝ NHẬN BẢN TIN CỦA CHÚNG TÔI
							</h4>
							<form action="">
								<input type="text" placeholder="Nhập Email của bạn" />
								<button type="submit">
									Đặt mua
								</button>
							</form>
						</div>
					</div>
				</div>
			</div>
			<div class="info_bottom">
				<div class="row">
					<div class="col-md-4 ml-auto">
						<div class="social_box">
							<a href="https://www.facebook.com/cuuhogiaothong247DongNai?mibextid=LQQJ4d&mibextid=LQQJ4d">
								<i class="fa fa-facebook" aria-hidden="true"></i>
							</a>
							<a href="">
								<i class="fa fa-twitter" aria-hidden="true"></i>
							</a>
							<a href="">
								<i class="fa fa-linkedin" aria-hidden="true"></i>
							</a>
							<a href="">
								<i class="fa fa-instagram" aria-hidden="true"></i>
							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<!-- end info_section -->
	<!-- footer section -->
	<div class="footer_section">
		<div class="footer_main">
			<div class="container-fluid">
				<div class="row footer_row">
					<div class="col-md-6 footer_left">
						<p>Địa chỉ: 247 Đồng Nai | Số điện thoại: 0961.345.247 | Email: thainguyen997dn@gmail.com</p>
					</div>
					<div class="col-md-6 footer_right">
						<p>&copy; 2025 Cứu Hộ 24/7.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<a href="tel:0961345247" class="call-button pinphone" onclick="laySoDienThoai(event, this)">
		<i class="fa fa-phone" aria-hidden="true"></i>
		<span>0961.345.247</span>
	</a>
	<!-- footer section -->
	<!-- jQery -->
	<script src="~/content/js/jquery-3.4.1.min.js"></script>
	<!-- popper js -->
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
	</script>
	<!-- bootstrap js -->
	<script src="~/content/js/bootstrap.js"></script>
	<!-- owl slider -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
	</script>
	<script src="content/js/owl.carousel.js"></script>
<script>
	$(document).ready(function(){
  $(".owl-carousel").owlCarousel({
	loop:true,
	autoplayTimeout:1000,
	autoplay:true,
					responsive : {
					// breakpoint from 0 up
					0 : {
										items:2
					},
					// breakpoint from 480 up
					480 : {
										items:3
					},
					// breakpoint from 768 up
					768 : {
										items:4
					}
				}
  });
});
</script>
	<!--  OwlCarousel 2 - Filter -->
	<script src="https://huynhhuynh.github.io/owlcarousel2-filter/dist/owlcarousel2-filter.min.js"></script>
	<!-- custom js -->
	<script src="~/content/js/custom.js"></script>
	<!-- Google Map -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
	</script>
	<!-- End Google Map -->

</body>

</html>


<title>Fonicy</title>


<!-- bootstrap core css -->
<link href="~/content/css/bootstrap.css" rel="stylesheet" />

<!-- fonts style -->
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

<!--owl slider stylesheet -->
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

<!-- font awesome style -->
<link href="~/content/css/font-awesome.min.css" rel="stylesheet" />
<!-- Custom styles for this template -->
<link href="~/content/css/style.css" rel="stylesheet" />
<!-- responsive style -->
<link href="~/content/css/responsive.css" rel="stylesheet" />
