<!DOCTYPE html>
<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Cứu Hộ 24/7</title>
    <!-- bootstrap core css -->
    <link href="~/content/css/bootstrap.css" rel="stylesheet" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />

    <!-- font awesome style -->
    <link href="~/content/css/font-awesome.min.css" rel="stylesheet" />
    <!-- Custom styles for this template -->
    <link href="~/content/css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="~/content/css/responsive.css" rel="stylesheet" />
    <!-- Thêm Toastify CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

    <!-- Thêm Toastify JS -->
    <script src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet" />
</head>
@model List<string>

<body>
    @if (TempData["Message"] != null)
    {
        var message = TempData["Message"].ToString();
        var messageType = TempData["MessageType"]?.ToString();

        <script>
            document.addEventListener("DOMContentLoaded", function () {
                Toastify({
                    text: "@Html.Raw(TempData["Message"])",
                    duration: 2000,
                    close: true,
                    gravity: "top",
                    position: "right",
                    backgroundColor: "@(TempData["MessageType"] != null && TempData["MessageType"].ToString() == "success" ? "linear-gradient(to right, #00b09b, #96c93d)" : "linear-gradient(to right, #ff5f6d, #ffc371)")",
                }).showToast();
            });
        </script>
    }

    <!-- Header Section -->
    <div class="header_section">
        <div class="header_top">
            <div class="container-fluid header_top_container">
                <div class="contact_nav" style="text-align: center;">
                    <a href="">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <span>
                            Call : +0961.345.247
                        </span>
                    </a>
                    <a href="">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <span>
                            Email : ThieuNguyen@gmail.com
                        </span>
                    </a>
                    <a href="">
                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                        <span>
                            247 Đồng Nai
                        </span>
                    </a>
                </div>
                <div class="social_box">
                    <a href="https://www.facebook.com/I.Am.Nguyen2003">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-twitter" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="header_bottom">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                    <a class="navbar-brand" href="/">
                        <img src="~/content/images/logoa.jpg" alt="Logo" style="height: 54px; width: auto;">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class=""> </span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav">
                            <li class="nav-item @(Context.Request.Path == "/" ? "active" : "")">
                                <a class="nav-link" href="/">TRANG CHỦ</a>
                            </li>
                            <li class="nav-item @(Context.Request.Path == "/User/service" ? "active" : "")">
                                <a class="nav-link" href="/User/service">DỊCH VỤ</a>
                            </li>
                            <li class="nav-item @(Context.Request.Path == "/User/about" ? "active" : "")">
                                <a class="nav-link" href="/User/about">GIỚI THIỆU</a>
                            </li>
                            <li class="nav-item @(Context.Request.Path == "/User/testimonial" ? "active" : "")">
                                <a class="nav-link" href="/User/testimonial">LỜI CHỨNG THỰC</a>
                            </li>
                            <form class="form-inline">
                                <button class="btn  my-2 my-sm-0 nav_search-btn" type="submit">
                                    <i class="fa fa-search" aria-hidden="true"></i>
                                </button>
                            </form>
                        </ul>
                        <div class="quote_btn-container">
                            <a href="" class="quote_btn">
                                NHẬN GIÁ BÁO
                            </a>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>

    <!-- Content Section -->
    <div class="content-baiviet" style="padding: 0 100px;">
        <div class="row">
            <!-- Cột 8 chứa nội dung chính -->
            <div class="col-md-8">
                <h3>@ViewBag.Baiviet.TenBaiviet</h3>
                <div class="date-container">
                    <i class="fas fa-calendar"> @ViewBag.Baiviet.Ngaytao.ToString("dd/MM/yyyy HH:mm")</i>
                </div>

                @if (Model == null)
                {
                    <p>Bài viết không tồn tại.</p>
                }
                else
                {
                    <div>
                        @foreach (var item in Model)
                        {
                            if (item.Contains("hinhanh:"))
                            {
                                var imageFileName = item.Substring(item.IndexOf("hinhanh:") + "hinhanh:".Length).Trim();
                                var image = Url.Content("~/content/images/" + imageFileName);
                                <img src=@image alt="">
                            }
                            else
                            {
                                <p class="formatted-text">@item</p>
                            }
                        }
                    </div>
                }
            </div>


            <!-- Cột 2 chứa nội dung khác -->
            <div class="col-md-4">
                <h4>BÀI VIẾT LIÊN QUAN</h4>
                <hr>
                <div class="related-posts">
                    @foreach (var post in ViewBag.AllBaiviet)
                    {
                        var image = Url.Content("~/content/images/" + post.ImageIndex);
                        <div class="related-post">
                            <a href="#">
                                <img src=@image class="related-post-img">
                                <div class="related-post-text">
                                    <p class="related-post-title">@post.TenBaiviet</p>
                                </div>
                            </a>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>


    <!-- Info Section -->
    <div class="info_section">
        <div class="container">
            <div class="contact_nav">
                <a href="">
                    <i class="fa fa-phone" aria-hidden="true"></i>
                    <span>
                        0961.345.247
                    </span>
                </a>
                <a href="">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                    <span>
                        ThieuNguyen@gmail.com
                    </span>
                </a>
                <a href="">
                    <i class="fa fa-map-marker" aria-hidden="true"></i>
                    <span>
                        247 Đồng Nai
                    </span>
                </a>
            </div>

            <div class="info_top">
                <div class="row info_main_row">
                    <div class="col-sm-6 col-md-4 col-lg-3">
                        <div class="info_links">
                            <h4>LIÊN KẾT NHANH</h4>
                            <div class="info_links_menu">
                                <a href="http://localhost:5296/">TRANG CHỦ</a>
                                <a href="http://localhost:5296/User/service">DỊCH VỤ</a>
                                <a href="http://localhost:5296/User/about">GIỚI THIỆU</a>
                                <a href="http://localhost:5296/User/project">TIN TỨC</a>
                                <a href="http://localhost:5296/User/testimonial">CHỨNG THỰC</a>
                                <a href="http://localhost:5296/User/contact">LIÊN HỆ</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4 col-lg-3 mx-auto">
                        <div class="info_post">
                            <h5>HÌNH ẢNH CỨU HỘ</h5>
                            <div class="post_box">
                                <div class="img-box"><img src="~/content/images/cuuho1.jpg" /></div>
                                <div class="img-box"><img src="~/content/images/cuuho2.jpg" /></div>
                                <div class="img-box"><img src="~/content/images/cuuho3.jpg" /></div>
                                <div class="img-box"><img src="~/content/images/cuuho7.jpg" /></div>
                                <div class="img-box"><img src="~/content/images/cuuho5.jpg" /></div>
                                <div class="img-box"><img src="~/content/images/cuuho6.jpg" /></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="info_form">
                            <h4>ĐĂNG KÝ NHẬN BẢN TIN CỦA CHÚNG TÔI</h4>
                            <form action="#">
                                <input class="input-box" type="email" placeholder="NHẬP EMAIL CỦA BẠN" />
                                <button type="submit" class="btn btn-info">GỬI</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section (Giữ nguyên phần footer của bạn) -->
    <div class="footer_section">
        <div class="footer_main">
            <div class="container-fluid">
                <div class="row footer_row">
                    <div class="col-md-6 footer_left">
                        <p>Địa chỉ: 247 Đồng Nai | Số điện thoại: 0961.345.247 | Email: ThieuNguyen@gmail.com</p>
                    </div>
                    <div class="col-md-6 footer_right">
                        <p>&copy; 2025 Cứu Hộ 24/7.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
<style>
    .related-posts {
        display: flex;
        flex-direction: column;
        gap: 10px;
        max-height: 500px;
        overflow-y: auto;
    }

    .related-posts {
        display: flex;
        flex-direction: column;
        gap: 15px;
        max-height: 400px;
        overflow-y: auto;
        padding-right: 10px;
    }
    .related-post {
        display: flex;
        align-items: center;
        gap: 15px;
        padding: 10px;
        background: #f9f9f9;
        border-radius: 8px;
        transition: background 0.3s;
    }
    .related-post:hover {
        background: #e9e9e9;
    }
    .related-post a {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #333;
    }
    .related-post-img {
        width: 80px;
        height: 60px;
        object-fit: cover;
        border-radius: 5px;
    }
    .related-post-text {
        flex: 1;
    }
    .related-post-title {
        font-weight: bold;
        font-size: 14px;
        color: #007bff;
        transition: color 0.3s;
        padding-left: 15px;
    }
    .related-post-title:hover {
        color: #0056b3;
    }
    .col-md-8 img {
        max-width: 100%; /* Giới hạn ảnh không vượt quá chiều rộng của div */
        height: auto; /* Tự động điều chỉnh chiều cao để giữ tỷ lệ ảnh */
        display: block; /* Đảm bảo ảnh là một block để dễ dàng căn chỉnh */
        margin: 0 auto; /* Căn giữa ảnh trong div */
    }

    .col-md-8 .formatted-text {
        white-space: pre-line; /* Giữ các xuống dòng nhưng không thay đổi chiều rộng */
    }

    .date-container {
        display: flex;
        align-items: center; /* Căn chỉnh các phần tử theo chiều dọc */
    }

        .date-container i {
            margin-right: 8px; /* Khoảng cách giữa biểu tượng và ngày */
        }
</style>